<div class="row animated fadeIn">
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del usuario</h4>
        <h6 class="card-subtitle">made with love! </h6>
        <form ngNativeValidate #f="ngForm" class="form p-t-20" (ngSubmit)="save(f.value)">
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input [ngModel]="user?.nombre" name="nombre" required type="text" class="form-control"
                placeholder="Username">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input [ngModel]="user?.email" name="email" required [disabled]="user.google" type="email"
                class="form-control" placeholder="Enter email">
            </div>
          </div>
          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <i class="fa fa-save"></i>
            Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Fotografía del usuario</h4>
        <h6 class="card-subtitle">Cambiar foto</h6>

        <img *ngIf="!tempImage" [src]="user.img | image" class="w150">
        <img *ngIf="tempImage" [src]="tempImage" class="w150">

        <input type="file" (change)="selectImage($event.target.files[0])">

        <br><br>

        <button (click)="changeImage()" [disabled]="!uploadedImage" type="submit"
          class="btn btn-success btn-block waves-effect waves-light m-r-10">
          <i class="fa fa-save"></i>
          Update</button>


      </div>
    </div>
  </div>

</div>
